@property --gradient-start {
  syntax: '<color>';
  inherits: false;
  initial-value: oklch(67.65% 0.043 285.21);
}

@property --gradient-stop {
  syntax: '<color>';
  inherits: false;
  initial-value: oklch(67.65% 0.043 285.21);
}

@media (prefers-color-scheme: dark) {
  @property --gradient-start {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(71.44% 0.019 264.45);
  }

  @property --gradient-stop {
    syntax: '<color>';
    inherits: false;
    initial-value: oklch(71.44% 0.019 264.45);
  }
}

@utility gradient-icon {
  background: linear-gradient(
    180deg,
    var(--gradient-start) 0%,
    var(--gradient-stop) 100%
  );
  transition:
    --gradient-start 300ms,
    --gradient-stop 300ms;

  &:hover {
    --gradient-start: oklch(50% 0.2 20);
    --gradient-stop: oklch(40% 0.2 20);
    @media (prefers-color-scheme: dark) {
      --gradient-start: oklch(50% 0.2 20);
      --gradient-stop: oklch(40% 0.2 20);
    }
  }
}
